.DS_Store

application/cache/*
!application/cache/index.html


.env

/vendor

/application/logs/*
!/application/logs/index.html

/application/cache/*
!/application/cache/index.html

/public/images/uploads/*

docker/mysql
